/*XXL and Above View*/

body{
  background-image: url(../img/metal.jpg);
  width: 100%;
  height: 100%;
  margin-top: 30em;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  font-family: Great Vibes;
  font-weight: bold;
  font-size: 12em;
  color: white;
}

.sticky{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(20, 20, 20, 0.5);
  z-index: 1;
  /* overflow: hidden; */
}

.sticky + .content{
  padding-top: 60em;
}

.bottomSpace{
  margin-bottom: 70em;
}

.panel{
  margin-bottom: 3em;
  box-shadow: 0 0 1em black;
}

.panel > .panel-heading{
  padding: 0px;
  border: 0px;
}

.panel-body h5{
  color: black;
  font-weight: bold;
  font-size: 1.2em;
}

p{
  font-size: 0.9em;
}

#bio .panel{
  background-color: oldlace;
  box-shadow: 0 0 2em oldlace;
}

#clown .panel-heading{
  box-shadow: 0 0 2em lime;
}

#clown .panel-body{
  background-color: red;
  color: white;
  box-shadow: 0 0 2em red;
}

#clown h5{
  color: white;
}

#bieber .panel-body{
  background-color: black;
  color: white;
  box-shadow: 0 0 2em black;
}

#bieber .panel-heading{
  box-shadow: 0 0 2em white;
}

#bieber h5{
  color: white;
}

#bootstrap .panel{
  color: white;
  background-color: mediumseagreen;
  box-shadow: 0 0 2em mediumseagreen;
}

#bootstrap h5{
  color: white;
}

#dice .panel{
  box-shadow: 0 0 2em white;
}

#dom .panel{
  box-shadow: 0 0 2em white;
}

#hanoi .panel{
  box-shadow: 0 0 2em white;
}

#bio2 .panel{
  background-color: whitesmoke;
  box-shadow: 0 0 2em whitesmoke;
}

#customer .panel{
  box-shadow: 0 0 2em white;
}

.social{
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin: auto;
  padding: 1em;
}

.email{
  margin: auto;
  width: 2.4em;
  position: relative;
}

.resume{
  margin: auto;
  width: 2em;
  height: auto;
  position: relative;
}

.linkedin{
  margin: auto;
  width: 2.3em;
  position: relative;
}

.facebook{
  margin: auto;
  width: 2.2em;
  position: relative;
}

.instagram{
  margin: auto;
  width: 2.5em;
  position: relative;
}

footer{
  color: white;
  font-family: Great Vibes;
  font-weight: bold;
  font-size: 1.8em;
  text-align: center;
}

/*XLarge Screen View*/
@media (min-width: 1200px) and (max-width: 1307px){

  h1{
    font-size: 10em;
  }
}

/*Large Screen View*/
@media (min-width: 992px) and (max-width: 1200px){

  h1{
    font-size: 8em;
  }
}

/*Medium Screen View*/
@media (min-width: 641px) and (max-width: 991px){

  h1{
    font-size: 7em;
  }

  .social{
    width: 60%;
  }

  .email{
    width: 2.9em;
  }

  .resume{
    width: 2.5em;
  }

  .linkedin{
    width: 2.8em;
  }

  .facebook{
    width: 2.7em;
  }

  .instagram{
    width: 3em;
  }
}

/*Small Screen View*/
@media (min-width: 400px) and (max-width: 640px){

  h1{
    font-size: 6em;
  }

  .social{
    width: 80%;
  }
}
